*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main_container{
    display: flex; 
    align-items: center;
    text-align: center;
    justify-content: center; 
    flex-direction: column;
    gap: 2rem;
}
.inputSearch{
    width: 35rem;
    height: 3rem;
    padding:15px;
    border-radius: 10px;
    border: none;
    background-color: antiquewhite;

}
.btn{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
}
.btn:hover{
    box-shadow: 5px 5px 5px rgb(57, 8, 103);
}
.inputSearch:hover{
    box-shadow: 2px 2px 2px 2px rgb(230, 171, 95);
}
#movie_container{

    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
    border: 2px solid black;
    margin: 20px;
    width: 50vh;
    /* height: 60vh; */
    justify-content: center;

}
.photo{
    width: 200px;
    height: 300px;
}